<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kelio_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>

 <userSettings>
  <kelio_client.Properties.Settings>
   <setting name="Url" serializeAs="String">
    <value>https://kelio.domain.tld</value>
   </setting>
   <setting name="Login" serializeAs="String">
    <value>pnom</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>password</value>
   </setting>
   <setting name="PauseMonday" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="PauseTuesday" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="PauseWednesday" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="PauseThursday" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="PauseFriday" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="WindowPosition" serializeAs="String">
    <value>0, 0, -1, -1</value>
   </setting>
   <setting name="AutoReminder" serializeAs="String">
    <value>False</value>
   </setting>
  </kelio_client.Properties.Settings>
 </userSettings>
</configuration>